@charset "utf-8";

/*
This is my style sheet for my contact page
Author: Gabriela Balanta
*/

html {
    background-color: rgb(110, 133, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 2px;
    font-size: 15px;
}

body{
    display: flex;
}


input{
    transition: border-color 0.3s ease;
}

textarea{
    transition: border-color 0.3s ease;
}




@media screen and (min-width: 480px) {
    body {
        background-color: rgb(110, 133, 197);
        font-size: 15px;
    }

    .container {
        width: 450px; 
    }
}
