@charset "utf-8";

/*
This is my style sheet
Author: Gabriela Balanta
*/

html {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  font-size: 20px;
  font-weight: 5px;
  padding: 10px;
  background-color : lavender;
}

ul{
    list-style-type: none;
    padding: 15px;
    margin: 15px;
    display: flex;
    gap: 20px;
}
