@charset "utf-8";

/*
This is my style sheet
Author: Gabriela Balanta
*/

html {
    background-color: rgb(240, 201, 233);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}

header {
  text-align: center;
  font-size: 10px;
  font-weight: 5px;
  padding: 10px;
  background-color : rgb(247, 163, 247);
}

h1{
    text-align: center;
    font-size: 25px;
    font-weight: 15px;
}
div > h1{
    font-size: 30px;
}

ul{
    list-style-type: none;
    padding: 15px;
    margin: 15px;
    display: flex;
    gap: 20px;
}


.About {
    padding: 10px;
    margin: 10px;
    border-style: groove;
    border-color: orange;
    border-width: 10px;
    background-color: rgb(226, 196, 162);
    p {
    background-color: rgb(226, 196, 162);
    }
}

.Projects {
    padding: 10px;
    margin: 10px;
    border-style: groove;
    border-color: rgb(31, 179, 98);
    border-width: 10px;
    background-color: rgb(113, 223, 180);
    p {
    background-color: rgb(113, 223, 180);
    }
}


.Contact {
    padding: 10px;
    margin: 10px;
    border-style: groove;
    border-color:rgb(116, 3, 221);
    border-width: 10px;
    background-color: rgb(174, 115, 230); 
    p {
    background-color: rgb(174, 115, 230); 
    }
}


footer{
    font-size: smaller;
    text-align: center;
    color: rgb(37, 36, 120) ;
    background-color: rgb(186, 203, 255);
}


.Image{
    width: 300px;
    height: 200px;
    margin-left: 10px;
    object-fit: fill;
    background-position: right;
    overflow: hidden;
    margin: 0 auto;
}

.Image img{
    width: 100%;
    height: 100%;
    transition-duration:  0.2s; 
    transition-timing-function: ease;
    transform-origin: 50% 50%;
}

.Image img:hover {
    transform: scale(1.2);
}


table{
    column-width: 350px;
    border-style: double;
    border-width: 7px;
    border-color: rgb(240, 248, 255);
}

td{
    width: 500px;
    height: auto;
}

a {
    color: rgb(128, 128, 0);
    background-color: rgb(240, 201, 233);
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid rgb(128, 128, 0);
    transition-property:color;
    transition-duration:  0.2s; 
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover{
    color: rgb(105, 7, 7);
    background-color: rgb(202, 240, 201)
} 